<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278460524845-hl22jq3kffdeg5q7b9prd8ffvhf835ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278460524845-hl22jq3kffdeg5q7b9prd8ffvhf835ed</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ByQWN0Lg6nopqzc6t3jdsDmymtPDAno</string>
	<key>GCM_SENDER_ID</key>
	<string>278460524845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.programmer7.piggiechat</string>
	<key>PROJECT_ID</key>
	<string>piggiechat-5d9bc</string>
	<key>STORAGE_BUCKET</key>
	<string>piggiechat-5d9bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278460524845:ios:86a341642380e2f084cba4</string>
	<key>DATABASE_URL</key>
	<string>https://piggiechat-5d9bc.firebaseio.com</string>
</dict>
</plist>